<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/3.3.1/phpcs.xsd">
    <file>./src/</file>
    <exclude-pattern>./src/**/Tests/*</exclude-pattern>
    <exclude-pattern>./vendor/*</exclude-pattern>
    <rule ref="PSR1"/>
    <rule ref="PSR2"/>
    <rule ref="PSR12"/>
    <rule ref="Squiz.Commenting.ClassComment"/>
    <rule ref="Squiz.Commenting.FunctionComment">
        <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
    </rule>
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array" value="sizeof=>count,delete=>unset,require=>require_once,print=>echo,is_null=>null,create_function=>null"/>
        </properties>
    </rule>
</ruleset>