parameters:
  paths:
    - src
  level: 7
  excludes_analyse:
    - %currentWorkingDirectory%/src/Lit/Voltage/_example
    - %currentWorkingDirectory%/src/Lit/Bolt/_example
  ignoreErrors:
    - '#.+Psr\\Container\\ContainerExceptionInterface.+is not subtype of Throwable.*#'
