<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="nimo">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">.</directory>
        </whitelist>
    </filter>
</phpunit>
