/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer header img {
    border-radius: 50%;
    background: whitesmoke;
    padding: 3px;
}

.blockContent strong, .blockContent a {
    color: #FF851B;
}

.feature-callout .blockImage {
    text-align: center;
}

.feature-callout .blockImage img {
    max-height: 240px;
}

.darkBackground {
    background-color: #474747;
}

.separateOnPageNav .wrapper,
.separateOnPageNav .headerWrapper.wrapper {
    max-width: 1600px;
}
